# cicd docker environment

x-base-config: &base-config
  restart: on-failure
  extra_hosts:
    - host.docker.internal:$CICD_GATEWAY_IP
  networks:
    cicd_network:

services:
  jenkins:
    build:
      context: jenkins/docker
    container_name: jenkins
    <<: *base-config
    ports:
      - "49000:8080"
      - "50000:50000"
    env_file:
      - ./jenkins/.env
    volumes:
      - jenkins_home:/var/jenkins_home
      - jenkins-docker-certs:/certs/client:ro
      - ./jenkins/config/jenkins.yaml:/var/jenkins_home/jenkins.yaml:ro

  docker:
    image: docker:dind
    container_name: docker
    privileged: true
    <<: *base-config
    ports:
      - "2376:2376"
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - type: bind
        source: ./registry/auth/host-docker-internal.crt
        target: /tmp/registry-ca.crt
        read_only: true
    command: >
        sh -c "mkdir -p /etc/docker/certs.d/host.docker.internal:5000 &&
               cp /tmp/registry-ca.crt /etc/docker/certs.d/host.docker.internal:5000/ca.crt &&
               echo '{\"max-concurrent-downloads\": 3, \"registry-mirrors\": []}' > /etc/docker/daemon.json &&
               dockerd-entrypoint.sh"

  registry:
    image: registry:latest
    container_name: registry
    <<: *base-config
    ports:
      - "5000:5000"
    env_file:
      - ./registry/.env
    volumes:
      - ./registry/auth:/auth
      - ./registry/data:/var/lib/registry

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    <<: *base-config
    ports:
      - "9000:9000"
    environment:
      - SONAR_EMBEDDEDDATABASE_PORT=9092
    volumes:
      - ./sonarqube/data:/opt/sonarqube/data
      - ./sonarqube/logs:/opt/sonarqube/logs
      - ./sonarqube/extensions:/opt/sonarqube/extensions

  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    <<: *base-config
    ports:
      - "37373:8081"
    volumes:
      - ./nexus/data:/nexus-data

volumes:
  jenkins_home:
  jenkins-docker-certs:

networks:
  cicd_network:
    ipam:
      config:
        - subnet: $CICD_SUBNET_IP
          gateway: $CICD_GATEWAY_IP
