x-config: &base-config
  pull_policy: always
  restart: on-failure
  extra_hosts:
    - host.docker.internal:$WSL_HOST_IP
    - host.docker.external:host-gateway

services:
  certificate-analytics-service:
    image: docker.drift.inera.se/intyg/certificate-analytics-service:${CAS_VERSION}
    container_name: certificate-analytics-service
    profiles: [ "cps" ]
    ports:
      - "18050:18050"
      - "18051:18051"
    <<: *base-config
    env_file: certificate-analytics-service/.cas-env
    environment:
      - SPRING_PROFILES_ACTIVE=testability,dev
    volumes:
      - $CAS_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro


  certificate-print-service:
    image: docker.drift.inera.se/intyg/certificate-print-service:${CPS_VERSION}
    container_name: certificate-print-service
    profiles: [ "cps" ]
    ports:
      - "18040:18040"
      - "18041:18041"
    <<: *base-config
    env_file: certificate-print-service/.cps-env
    environment:
      - SPRING_PROFILES_ACTIVE=testability,dev
    volumes:
      - $CPS_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro


  certificate-service:
    image: docker.drift.inera.se/intyg/certificate-service:${CS_VERSION}
    container_name: certificate-service
    profiles: [ "cs" ]
    ports:
      - "18030:18030"
      - "18031:18031"
    <<: *base-config
    env_file: certificate-service/.cs-env
    environment:
      - SPRING_PROFILES_ACTIVE=testability,dev
    volumes:
      - $CS_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro


  customer-terminate-service:
    image: docker.drift.inera.se/intyg/customer-terminate-service:${CTS_VERSION}
    container_name: customer-terminate-service
    profiles: [ "cts" ]
    ports:
      - "18010:18010"
      - "18810:18810"
    <<: *base-config
    env_file: customer-terminate-service/.cts-env
    environment:
      - SPRING_PROFILES_ACTIVE=testability,dev
    volumes:
      - $CTS_DEVOPS_CONFIG_PATH/certificate:$APPLICATION_DIR/certificate:ro
      - $CTS_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro
      - ./customer-terminate-service/exports:$APPLICATION_DIR/exports


  intyg-proxy-service:
    image: docker.drift.inera.se/intyg/intyg-proxy-service:${IPS_VERSION}
    container_name: intyg-proxy-service
    profiles: [ "ips" ]
    ports:
      - "18020:18020"
      - "18021:18021"
    <<: *base-config
    env_file: intyg-proxy-service/.ips-env
    environment:
      - SPRING_PROFILES_ACTIVE=testability,dev,fakepu,fakehsa
    volumes:
      - $IPS_DEVOPS_CONFIG_PATH/certificate:$APPLICATION_DIR/certificate:ro
      - $IPS_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro


  intygsadmin:
    image: docker.drift.inera.se/intyg/intygsadmin:${IA_VERSION}
    container_name: intygsadmin
    profiles: [ 'ia' ]
    ports:
      - "8070:8080"
      - "8170:8081"
      - "8870:8870"
    <<: *base-config
    env_file: intygsadmin/.ia-env
    environment:
      - SPRING_PROFILES_ACTIVE=dev,fake,caching-enabled
    volumes:
      - $IA_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro


  minaintyg:
    image: docker.drift.inera.se/intyg/minaintyg:${MI_VERSION}
    container_name: minaintyg
    profiles: [ "mi" ]
    ports:
      - "8041:8041"
      - "8141:8141"
      - "8841:8841"
    <<: *base-config
    env_file: minaintyg/.mi-env
    environment:
      - SPRING_PROFILES_ACTIVE=testability,dev,citizen-ips-integration,certificate-analytics-service-active
    volumes:
      - $MI_DEVOPS_CONFIG_PATH/certificates:$APPLICATION_DIR/certificates:ro
      - $MI_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro


  private-practitioner-service:
    image: docker.drift.inera.se/intyg/private-practitioner-service:${PPS_VERSION}
    container_name: private-practitioner-service
    profiles: [ "pps" ]
    ports:
      - "18070:18070"
      - "18071:18071"
    <<: *base-config
    env_file: private-practitioner-service/.pps-env
    environment:
      - SPRING_PROFILES_ACTIVE=testability,dev
    volumes:
      - $PPS_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro


  sjut:
    image: docker.drift.inera.se/intyg/sjut:${SJUT_VERSION}
    container_name: sjut
    profiles: [ 'sjut' ]
    ports:
      - "8090:8090"
      - "8890:8890"
    <<: *base-config
    env_file: sjut/.sjut-env
    environment:
      - SPRING_PROFILES_ACTIVE=fake,dev
    volumes:
      - $SJUT_DEVOPS_CONFIG_PATH/config:$APPLICATION_DIR/config:ro
      - $SJUT_DEVOPS_CONFIG_PATH/certificates:$APPLICATION_DIR/certificates:ro
      - $SJUT_DEVOPS_CONFIG_PATH/filestore:$APPLICATION_DIR/filestore


  srs:
    image: docker.drift.inera.se/intyg/srs:${SRS_VERSION}
    container_name: srs
    profiles: [ 'srs' ]
    ports:
      - "18080:8080"
      - "18880:18880"
    <<: *base-config
    env_file: srs/.srs-env
    environment:
      - SPRING_PROFILES_ACTIVE=runtime,it,bootstrap
