services:

  mysql:
    image: mysql:8
    container_name: mysql
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    restart: on-failure
    environment:
      MYSQL_ROOT_PASSWORD: 2lkopp
    ports:
      - "3306:3306"

  redis:
    image: redis:8.0.5-alpine
    container_name: redis
    restart: on-failure
    command: redis-server --requirepass redis
    ports:
      - "6379:6379"

  activemq:
    build:
      context: activemq
      args:
        version: $ACTIVEMQ_VERSION
        checksum: $ACTIVEMQ_CHECKSUM
    container_name: amq
    restart: on-failure
    ports:
      - "1883:1883"   # mqtt
      - "5672:5672"   # amqp
      - "8861:8161"   # ui
      - "61613:61613" # stomp
      - "61614:61614" # ws
      - "61616:61616" # jms
    environment:
      - "ACTIVEMQ_ADMIN_LOGIN=admin"
      - "ACTIVEMQ_ADMIN_PASSWORD=admin"
    volumes:
      - ./activemq/activemq.xml:/opt/apache-activemq-$ACTIVEMQ_VERSION/conf/activemq.xml

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: on-failure
    tty: true
    extra_hosts:
      - host.docker.internal:$WSL_HOST_IP
      - host.docker.external:host-gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/ssl
      - ./nginx/www:/var/www